body{
    padding: 0;
    background-color: #FDF8EE;
}

.system{
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.system .right .system-header{
    display: flex;
    height: 10%;
    justify-content: space-between;
}
.system .right .windows{
    width: 100%;
    height: 90%;
}

.system .right .system-header .welcome{
    width: 80%;
    height: 100%;
}


.system .right{
    display: flex;
    flex-direction: column;
    width: 90%;
}