.explorer {
  background-color: #fdf8ee;
  width: 100%;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 70px;
}

.explorer .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  gap: 10px;
}

.explorer .text .title {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: #333333;
}

.explorer .text .sub {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #666666;
  opacity: 0.6;
}

.cards-explorer {
  display: flex;
  gap: 30px;
}

@media (max-width: 1280px) {
  .explorer {
    padding: 30px 10px;
  }

  .cards-explorer {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .explorer .text .title {
    font-size: 32px;
    text-align: center;
  }

  .explorer .text .sub {
    font-size: 15px;
    width: 85%;
    text-align: center;
  }
  
}

@media (max-width: 1024px) {
  .explorer {
    padding: 50px 10px;
    gap: 50px;
  }

  .explorer .text .title {
    font-size: 32px;
    text-align: center;
  }

  .explorer .text .sub {
    font-size: 15px;
    width: 85%;
    text-align: center;
  }
  
}


@media (max-width: 800px) {
  .explorer {
    gap: 40px;
    padding: 50px 10px;
    
  }

  .explorer .text .title {
    font-size: 26px;
    line-height: 1.2;
  }

  .explorer .text .sub {
    font-size: 14px;
    width: 90%;
  }

  .cards-explorer {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .explorer .text .title {
    font-size: 22px;
  }

  .explorer .text .sub {
    font-size: 13px;
  }

  .cards-explorer {
    gap: 40px;
  }
}
