.header-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
}

.header-create h1 {
    padding-top: 50px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 3.4rem;
  height: 20px;
}

.header-create p {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  opacity: 0.6;
}

.create-home {
  display: flex;
  flex-direction: column;
}

.body-create {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: relative;
}

.feature-card {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ffffff;
  filter: drop-shadow(
    10px 25px 100px rgba(0, 0.16862745583057404, 0.41960784792900085, 0.25)
  );
  border-radius: 20px;
}

.feature-card .icon img {
  height: 55px;
  width: 55px;
}

.feature-card .text .title {
  font-weight: 600;
  font-size: 20px;
  color: #1e242c;
  letter-spacing: 0.3px;
  margin: 0;
}

.feature-card .text .description {
  font-weight: 100;
  font-size: 13px;
  color: #414d60;
  width: 190px;
  letter-spacing: 0.2px;
  margin: 0;
  opacity: 0.8;
}

.feature-card .action-button {
  background-color: #404040;
  color: white;
  height: 38px;
  width: 140px;
  border-radius: 100px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.feature-card.full {
  width: 229px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.feature-card.full .text {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.feature-card.medium {
  width: 260px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 37px;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 10px;
}

.feature-card.medium .text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.feature-card.medium .text .description {
  width: 220px;
}

.feature-card.small {
  width: 210px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 16px;
  padding-bottom: 16px;
  gap: 10px;
}

.feature-card.historia {
  position: relative;
  left: 250px;
}

.feature-card.conecta {
  position: relative;
  left: 170px;
  top: 110px;
}

.feature-card.aprende {
  position: relative;
  left: 260px;
  top: 190px;
}

.feature-card.guia {
  position: relative;
  left: 500px;
  top: 240px;
}

.feature-card.habla {
  position: relative;
  left: 1300px;
  bottom: 600px;
}

.feature-card.cultura {
  position: relative;
  left: 1450px;
  bottom: 550px;
}

.feature-card.idioma {
  position: relative;
  left: 1500px;
  bottom: 470px;
}

.feature-card.historias {
  position: relative;
  left: 1200px;
  bottom: 400px;
}

.caricatura {
  position: absolute;
  height: 700px;
  width: auto;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 0;
}



