.section-about {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-about {
  width: 70%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  
}

.content-about .left{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.content-about .left img {
  width: 82px;
  height: 65px;
}

.content-about .left .title-about {
  font-family: "Poppins", sans-serif;
  font-size: 45px;
  font-weight: 600;
  padding-top: 20px;
}

.content-about .left .sub-about {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 100;
  padding-top: 70px;
  color: #1C1C1C;
  opacity: 0.6;
  width: 90%;
}

